#content{
	margin: 0 auto;
}
#image{
    width: 35%;
	float:left;
}
#post{
	max-width: 100%;
}
#tools{
    max-width: 32%;
	float:right;
}
#title{
	text-align: center;
    font-size: 2em;
    font-weight: bold;
}
#desc{
	max-width: 32%;
    float: left;
}
#overview{
	display: inline-block;
    padding: 20px;
    margin: 10px 20px;
    font-size: 15pt;
}
#release, #imdb, #language{
	display: inline-block;
    padding: 20px;
    margin: 10px 20px;
}
#actions{
	width: 32%;
    float: left;
    text-align: center;
}
#footer{
	clear:both;
	text-align:center;
}

button.button{
	padding: 15px;
    margin: 55px;
}